## First lesson

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("Spark SQL Query DataFrames").getOrCreate()

In [3]:
data_path = r"C:\Users\lucas\Documents\lucastiagooliveira\Study Materials\Ex_Files_Spark_SQL_DataFrames\Exercise Files\Data"

In [4]:
file_path = data_path + "/utilization.csv"
df = spark.read.format("csv").load(file_path)

In [6]:
df.show(10)

+-------------------+---+----+----+---+
|                _c0|_c1| _c2| _c3|_c4|
+-------------------+---+----+----+---+
|03/05/2019 08:06:14|100|0.57|0.51| 47|
|03/05/2019 08:11:14|100|0.47|0.62| 43|
|03/05/2019 08:16:14|100|0.56|0.57| 62|
|03/05/2019 08:21:14|100|0.57|0.56| 50|
|03/05/2019 08:26:14|100|0.35|0.46| 43|
|03/05/2019 08:31:14|100|0.41|0.58| 48|
|03/05/2019 08:36:14|100|0.57|0.35| 58|
|03/05/2019 08:41:14|100|0.41|0.40| 58|
|03/05/2019 08:46:14|100|0.53|0.35| 62|
|03/05/2019 08:51:14|100|0.51|0.60| 45|
+-------------------+---+----+----+---+
only showing top 10 rows

In [5]:
df = df.withColumnRenamed("_c0","event_datatime")\
         .withColumnRenamed("_c1","server_")\
         .withColumnRenamed("_c2","cpu_utilization")\
         .withColumnRenamed("_c3","server_id")\
         .withColumnRenamed("_c4","session_count")

In [10]:
df.show(10)

+-------------------+-------+---------------+---------+-------------+
|     event_datatime|server_|cpu_utilization|server_id|session_count|
+-------------------+-------+---------------+---------+-------------+
|03/05/2019 08:06:14|    100|           0.57|     0.51|           47|
|03/05/2019 08:11:14|    100|           0.47|     0.62|           43|
|03/05/2019 08:16:14|    100|           0.56|     0.57|           62|
|03/05/2019 08:21:14|    100|           0.57|     0.56|           50|
|03/05/2019 08:26:14|    100|           0.35|     0.46|           43|
|03/05/2019 08:31:14|    100|           0.41|     0.58|           48|
|03/05/2019 08:36:14|    100|           0.57|     0.35|           58|
|03/05/2019 08:41:14|    100|           0.41|     0.40|           58|
|03/05/2019 08:46:14|    100|           0.53|     0.35|           62|
|03/05/2019 08:51:14|    100|           0.51|     0.60|           45|
+-------------------+-------+---------------+---------+-------------+
only showing top 10 rows

In [11]:
df.count()

500000

In [12]:
df.createOrReplaceTempView("utilization")

In [15]:
df_sql = spark.sql("SELECT server_id, session_count FROM utilization LIMIT 10")

In [16]:
df_sql .show()

+---------+-------------+
|server_id|session_count|
+---------+-------------+
|     0.51|           47|
|     0.62|           43|
|     0.57|           62|
|     0.56|           50|
|     0.46|           43|
|     0.58|           48|
|     0.35|           58|
|     0.40|           58|
|     0.35|           62|
|     0.60|           45|
+---------+-------------+

In [19]:
df_sql = spark.sql("SELECT server_id AS sid, session_count AS sc FROM utilization")
df_sql.show()

+----+---+
| sid| sc|
+----+---+
|0.51| 47|
|0.62| 43|
|0.57| 62|
|0.56| 50|
|0.46| 43|
|0.58| 48|
|0.35| 58|
|0.40| 58|
|0.35| 62|
|0.60| 45|
|0.37| 47|
|0.59| 60|
|0.72| 57|
|0.54| 44|
|0.40| 47|
|0.68| 66|
|0.66| 65|
|0.55| 66|
|0.60| 42|
|0.59| 63|
+----+---+
only showing top 20 rows

## Second Lesson

In [31]:
df.createOrReplaceTempView("utilization")

In [37]:
df_sql = spark.sql("SELECT * FROM utilization WHERE server_id = 0.6")
df_sql.show()

+-------------------+-------+---------------+---------+-------------+
|     event_datatime|server_|cpu_utilization|server_id|session_count|
+-------------------+-------+---------------+---------+-------------+
|03/05/2019 08:51:14|    100|           0.51|     0.60|           45|
|03/05/2019 09:36:14|    100|           0.42|     0.60|           42|
|03/05/2019 09:46:14|    100|           0.29|     0.60|           44|
|03/05/2019 11:31:14|    100|           0.66|     0.60|           56|
|03/05/2019 12:26:14|    100|           0.67|     0.60|           66|
|03/05/2019 17:41:14|    100|           0.49|     0.60|           45|
|03/05/2019 18:21:14|    100|           0.64|     0.60|           67|
|03/05/2019 19:21:14|    100|           0.53|     0.60|           57|
|03/05/2019 21:11:14|    100|           0.31|     0.60|           62|
|03/05/2019 21:41:14|    100|           0.53|     0.60|           42|
|03/06/2019 00:06:14|    100|           0.29|     0.60|           63|
|03/06/2019 02:41:14|    100|           0.62|     0.60|           63|
|03/06/2019 05:01:14|    100|           0.53|     0.60|           48|
|03/06/2019 06:21:14|    100|           0.44|     0.60|           40|
|03/06/2019 10:36:14|    100|           0.61|     0.60|           67|
|03/06/2019 11:51:14|    100|           0.50|     0.60|           49|
|03/06/2019 17:46:14|    100|           0.61|     0.60|           60|
|03/06/2019 18:41:14|    100|           0.33|     0.60|           49|
|03/07/2019 02:21:14|    100|           0.48|     0.60|           70|
|03/07/2019 11:51:14|    100|           0.55|     0.60|           68|
+-------------------+-------+---------------+---------+-------------+
only showing top 20 rows

In [40]:
df_sql = spark.sql("SELECT server_id, session_count FROM utilization WHERE session_count > 70")
df_sql.show()

+---------+-------------+
|server_id|session_count|
+---------+-------------+
|     0.35|           71|
|     0.42|           71|
|     0.36|           71|
|     0.66|           71|
|     0.58|           72|
|     0.52|           72|
|     0.47|           71|
|     0.55|           71|
|     0.35|           71|
|     0.66|           72|
|     0.38|           71|
|     0.63|           72|
|     0.72|           71|
|     0.64|           71|
|     0.57|           72|
|     0.63|           71|
|     0.40|           72|
|     0.69|           72|
|     0.53|           71|
|     0.46|           71|
+---------+-------------+
only showing top 20 rows

In [41]:
df_sql.count()

239659

In [44]:
df_sql = spark.sql("SELECT server_id, session_count FROM utilization WHERE server_id = 0.6 and session_count > 70")
df_sql.show()

+---------+-------------+
|server_id|session_count|
+---------+-------------+
|     0.60|           71|
|     0.60|           71|
|     0.60|           71|
|     0.60|           72|
|     0.60|           72|
|     0.60|           71|
|     0.60|           72|
|     0.60|           71|
|     0.60|           71|
|     0.60|           74|
|     0.60|           74|
|     0.60|           71|
|     0.60|           72|
|     0.60|           74|
|     0.60|           72|
|     0.60|           71|
|     0.60|           72|
|     0.60|           71|
|     0.60|           73|
|     0.60|           74|
+---------+-------------+
only showing top 20 rows

In [45]:
df_sql.count()

1038

In [46]:
df_sql = spark.sql("SELECT server_id, session_count FROM utilization \
                    WHERE server_id = 0.6 and session_count > 70\
                    ORDER BY session_count DESC")
df_sql.show()

+---------+-------------+
|server_id|session_count|
+---------+-------------+
|     0.60|           83|
|     0.60|           83|
|     0.60|           83|
|     0.60|           83|
|     0.60|           83|
|     0.60|           83|
|     0.60|           83|
|     0.60|           83|
|     0.60|           83|
|     0.60|           83|
|     0.60|           83|
|     0.60|           83|
|     0.60|           83|
|     0.60|           83|
|     0.60|           83|
|     0.60|           83|
|     0.60|           82|
|     0.60|           82|
|     0.60|           82|
|     0.60|           82|
+---------+-------------+
only showing top 20 rows

## Third lesson

In [7]:
df.createOrReplaceTempView("utilization")

In [9]:
df_count = spark.sql("SELECT count(*) FROM utilization")
df_count.show()

+--------+
|count(1)|
+--------+
|  500000|
+--------+

In [11]:
df_sql = spark.sql("SELECT count(*)\
                   FROM utilization\
                   WHERE session_count > 70")
df_sql.show()

+--------+
|count(1)|
+--------+
|  239659|
+--------+

In [14]:
df_sql = spark.sql("SELECT server_id, count(*) AS Quantity\
                   FROM utilization\
                   WHERE session_count > 70 \
                   GROUP BY server_id")
df_sql.show()

+---------+--------+
|server_id|Quantity|
+---------+--------+
|     0.55|    1558|
|     0.07|    2302|
|     0.59|    1214|
|     0.32|    5981|
|     0.11|    3576|
|     0.03|     655|
|     0.60|    1038|
|     0.31|    6004|
|     0.73|       4|
|     0.14|    4310|
|     0.74|       1|
|     0.57|    1423|
|     0.25|    5519|
|     0.36|    6089|
|     0.68|     133|
|     0.30|    5841|
|     0.06|    2001|
|     0.72|      16|
|     0.21|    4907|
|     0.15|    4311|
+---------+--------+
only showing top 20 rows

In [16]:
df_sql = spark.sql("SELECT server_id, count(*) AS Quantity\
                   FROM utilization\
                   WHERE session_count > 70 \
                   GROUP BY server_id\
                   ORDER BY Quantity DESC")
df_sql.show()

+---------+--------+
|server_id|Quantity|
+---------+--------+
|     0.39|    6154|
|     0.36|    6089|
|     0.31|    6004|
|     0.35|    6003|
|     0.33|    6001|
|     0.34|    5999|
|     0.37|    5997|
|     0.32|    5981|
|     0.40|    5927|
|     0.29|    5887|
|     0.41|    5871|
|     0.28|    5869|
|     0.30|    5841|
|     0.26|    5838|
|     0.38|    5825|
|     0.27|    5726|
|     0.25|    5519|
|     0.42|    5414|
|     0.43|    5323|
|     0.24|    5262|
+---------+--------+
only showing top 20 rows

In [20]:
df_sql = spark.sql("SELECT server_id, min(session_count) AS Minimum, max(session_count) AS Maximum, avg(session_count) AS Average\
                   FROM utilization\
                   WHERE session_count > 70 \
                   GROUP BY server_id\
                   ORDER BY count(*) DESC")
df_sql.show()

+---------+-------+-------+-----------------+
|server_id|Minimum|Maximum|          Average|
+---------+-------+-------+-----------------+
|     0.39|    100|     99|81.93532661683457|
|     0.36|    100|     99|82.23370011496141|
|     0.31|    100|     99| 82.0886075949367|
|     0.35|    100|     99|82.36265200732967|
|     0.33|    100|     99|82.25012497917014|
|     0.34|    100|     99|81.98999833305551|
|     0.37|    100|     99|82.05035851258963|
|     0.32|    100|     99|82.37836482193613|
|     0.40|    100|     99|82.23097688543952|
|     0.29|    100|     99|82.59436045524036|
|     0.41|    100|     99|82.03236245954693|
|     0.28|    100|     99|82.47980916680865|
|     0.30|    100|     99| 82.3622667351481|
|     0.26|    100|     99|82.82973621103118|
|     0.38|    100|     99|82.26111587982832|
|     0.27|    100|     99|82.74135522179532|
|     0.25|    100|     99|82.67820257292988|
|     0.42|    100|     99|81.63003324713705|
|     0.43|    100|     99|81.54969002442232|
|     0.24|    100|     99|83.05169137210186|
+---------+-------+-------+-----------------+
only showing top 20 rows

In [22]:
df_sql = spark.sql("SELECT server_id, min(session_count) AS Minimum, max(session_count) AS Maximum, round(avg(session_count),2) AS Average\
                   FROM utilization\
                   WHERE session_count > 70 \
                   GROUP BY server_id\
                   ORDER BY count(*) DESC")
df_sql.show()

+---------+-------+-------+-------+
|server_id|Minimum|Maximum|Average|
+---------+-------+-------+-------+
|     0.39|    100|     99|  81.94|
|     0.36|    100|     99|  82.23|
|     0.31|    100|     99|  82.09|
|     0.35|    100|     99|  82.36|
|     0.33|    100|     99|  82.25|
|     0.34|    100|     99|  81.99|
|     0.37|    100|     99|  82.05|
|     0.32|    100|     99|  82.38|
|     0.40|    100|     99|  82.23|
|     0.29|    100|     99|  82.59|
|     0.41|    100|     99|  82.03|
|     0.28|    100|     99|  82.48|
|     0.30|    100|     99|  82.36|
|     0.26|    100|     99|  82.83|
|     0.38|    100|     99|  82.26|
|     0.27|    100|     99|  82.74|
|     0.25|    100|     99|  82.68|
|     0.42|    100|     99|  81.63|
|     0.43|    100|     99|  81.55|
|     0.24|    100|     99|  83.05|
+---------+-------+-------+-------+
only showing top 20 rows

## Fourth lesson

In [6]:
df.createOrReplaceTempView("utilization")

In [7]:
csv_df_path = data_path + "/server_name.csv"
df_server = spark.read.csv(csv_df_path, header = True)

In [8]:
df_server.show()

+---------+-----------+
|server_id|server_name|
+---------+-----------+
|      100| 100 Server|
|      101| 101 Server|
|      102| 102 Server|
|      103| 103 Server|
|      104| 104 Server|
|      105| 105 Server|
|      106| 106 Server|
|      107| 107 Server|
|      108| 108 Server|
|      109| 109 Server|
|      110| 110 Server|
|      111| 111 Server|
|      112| 112 Server|
|      113| 113 Server|
|      114| 114 Server|
|      115| 115 Server|
|      116| 116 Server|
|      117| 117 Server|
|      118| 118 Server|
|      119| 119 Server|
+---------+-----------+
only showing top 20 rows

In [10]:
df_server.createOrReplaceTempView("server_name")

In [13]:
df_count = spark.sql("SELECT DISTINCT server_id FROM utilization ORDER BY server_id")
df_count.show()

+---------+
|server_id|
+---------+
|     0.00|
|     0.01|
|     0.02|
|     0.03|
|     0.04|
|     0.05|
|     0.06|
|     0.07|
|     0.08|
|     0.09|
|     0.10|
|     0.11|
|     0.12|
|     0.13|
|     0.14|
|     0.15|
|     0.16|
|     0.17|
|     0.18|
|     0.19|
+---------+
only showing top 20 rows

In [14]:
spark.sql("SELECT min(server_id), max(server_id) FROM utilization").show()

+--------------+--------------+
|min(server_id)|max(server_id)|
+--------------+--------------+
|          0.00|          0.78|
+--------------+--------------+

In [17]:
df_join = spark.sql("SELECT u.server_id, sn.server_name, u.session_count \
                     FROM utilization u \
                     INNER JOIN server_name sn \
                     ON sn.server_id = u.server_id")
df_join.show()

+---------+-----------+-------------+
|server_id|server_name|session_count|
+---------+-----------+-------------+
+---------+-----------+-------------+

## Fifth lesson

In [23]:
from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark import SparkContext, SparkConf

In [26]:
conf = SparkConf().setAppName("Spark SQL Query Dataframes").setMaster(local[*])
sc = SparkContext(conf=conf)

SyntaxError: invalid syntax (<ipython-input-26-80ab19a8a726>, line 1)

In [21]:
df_dup = sc.parallelize([Row(server_name='101 Server', cpu_utilization=85, session_count=80),\
                        Row(server_name='101 Server', cpu_utilization=80, session_count=90),\
                        Row(server_name='102 Server', cpu_utilization=85, session_count=80),\
                        Row(server_name='102 Server', cpu_utilization=85, session_count=82)]).toDF()

NameError: name 'sc' is not defined

In [28]:
df.printSchema()

root
 |-- event_datatime: string (nullable = true)
 |-- server_: string (nullable = true)
 |-- cpu_utilization: string (nullable = true)
 |-- server_id: string (nullable = true)
 |-- session_count: string (nullable = true)