In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import preprocessing

## Load the datasets

In [ ]:
df_test = pd.read_csv('C:/Users/lucas/Documents/lucastiagooliveira/Kaggle/Titanic - Machine Learning disaster/Datasets/test.cvs')
# result = pd.read_csv('/kaggle/input/titanic/gender_submission.csv')
# df_train = pd.read_csv('/kaggle/input/titanic/train.csv')
# df_train.head()

## Binary encoding for sex

In [112]:
#Binary Encoding for sex -> male = 1, female = 0
df_test.Sex = df_test.Sex.map({'male': 1, 'female': 0})
#Binary Encoding for sex -> male = 1, female = 0
df_train.Sex = df_train.Sex.map({'male': 1, 'female': 0})

## Train dataframe describe

In [113]:
df_train.describe()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,0.647587,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,0.477990,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,0.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,1.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,1.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,1.000000,80.000000,8.000000,6.000000,512.329200

## Looking for correlation between variable

In [114]:
df_train.corr().iloc[[1]]

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare
Survived,-0.005007,1.0,-0.338481,-0.543351,-0.077221,-0.035322,0.081629,0.257307

## Changing the type of X and Y to the model

In [115]:
X = np.asarray(df_train[['Pclass','Sex']])
y = np.asarray(df_train[['Survived']])
y.shape, X.shape

((891, 1), (891, 2))

## Standardize features

In [127]:
X = preprocessing.StandardScaler().fit_transform(X)
X

array([[ 0.82737724,  0.73769513],
       [-1.56610693, -1.35557354],
       [ 0.82737724, -1.35557354],
       ...,
       [ 0.82737724, -1.35557354],
       [-1.56610693,  0.73769513],
       [ 0.82737724,  0.73769513]])

## Using logistic regression

In [117]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix

LR = LogisticRegression(C=0.01, solver = 'liblinear', random_state = 42, max_iter = 1e3).fit(X,y)
LR

/opt/conda/lib/python3.7/site-packages/sklearn/utils/validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

LogisticRegression(C=0.01, max_iter=1000.0, random_state=42, solver='liblinear')

## Preprocessing the test data

In [118]:
x_test = np.asarray(df_test[['Pclass','Sex']])
X_test = preprocessing.StandardScaler().fit(x_test).transform(x_test)

## Predict the result for test dataset

In [119]:
yhat = LR.predict(X_test)

In [120]:
yhat

array([0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0])

In [121]:
result.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

## Avaluation the results

In [122]:
y_val = np.asarray(result[['Survived']]) 
from sklearn.metrics import confusion_matrix, classification_report
print(confusion_matrix(y_val, yhat))

[[266   0]
 [  0 152]]

In [123]:
print(classification_report(y_val, yhat))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00       266
           1       1.00      1.00      1.00       152

    accuracy                           1.00       418
   macro avg       1.00      1.00      1.00       418
weighted avg       1.00      1.00      1.00       418

## Making the result .csv file

In [124]:
dict_ = {'PassengerId': df_test['PassengerId'], 'Survived': yhat }

In [125]:
final_result = pd.DataFrame(dict_)
final_result

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [126]:
final_result.to_csv('results.csv',index=False)