In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.getOrCreate()

In [3]:
spark

In [7]:
data_path = r"C:\Users\lucas\Documents\lucastiagooliveira\Study Materials\Ex_Files_Spark_SQL_DataFrames\Exercise Files\Data"

In [8]:
file_path = data_path + "/location_temp.csv"
df1 = spark.read.format("csv").option("header","true").load(file_path)

In [10]:
df1.head(10)

[Row(event_date='03/04/2019 19:48:06', location_id='loc0', temp_celcius='29'),
 Row(event_date='03/04/2019 19:53:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 19:58:06', location_id='loc0', temp_celcius='28'),
 Row(event_date='03/04/2019 20:03:06', location_id='loc0', temp_celcius='30'),
 Row(event_date='03/04/2019 20:08:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 20:13:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 20:18:06', location_id='loc0', temp_celcius='27'),
 Row(event_date='03/04/2019 20:23:06', location_id='loc0', temp_celcius='29'),
 Row(event_date='03/04/2019 20:28:06', location_id='loc0', temp_celcius='32'),
 Row(event_date='03/04/2019 20:33:06', location_id='loc0', temp_celcius='35')]

In [11]:
df1.show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 21:23:06|       loc0|          28|
+-------------------+-----------+------------+
only showing top 20 rows

In [12]:
df1.count()

500000

In [13]:
file_path_no_header = data_path + "/utilization.csv"
df2 = spark.read.format("csv").option("header","false").option("inferSchema","true").load(file_path_no_header)

In [14]:
df2.count()

500000

In [15]:
df2.head(10)

[Row(_c0='03/05/2019 08:06:14', _c1=100, _c2=0.57, _c3=0.51, _c4=47),
 Row(_c0='03/05/2019 08:11:14', _c1=100, _c2=0.47, _c3=0.62, _c4=43),
 Row(_c0='03/05/2019 08:16:14', _c1=100, _c2=0.56, _c3=0.57, _c4=62),
 Row(_c0='03/05/2019 08:21:14', _c1=100, _c2=0.57, _c3=0.56, _c4=50),
 Row(_c0='03/05/2019 08:26:14', _c1=100, _c2=0.35, _c3=0.46, _c4=43),
 Row(_c0='03/05/2019 08:31:14', _c1=100, _c2=0.41, _c3=0.58, _c4=48),
 Row(_c0='03/05/2019 08:36:14', _c1=100, _c2=0.57, _c3=0.35, _c4=58),
 Row(_c0='03/05/2019 08:41:14', _c1=100, _c2=0.41, _c3=0.4, _c4=58),
 Row(_c0='03/05/2019 08:46:14', _c1=100, _c2=0.53, _c3=0.35, _c4=62),
 Row(_c0='03/05/2019 08:51:14', _c1=100, _c2=0.51, _c3=0.6, _c4=45)]

In [17]:
df2 = df2.withColumnRenamed("_c0","event_datatime")\
         .withColumnRenamed("_c1","server_")\
         .withColumnRenamed("_c2","cpu_utilization")\
         .withColumnRenamed("_c4","session_count")

In [19]:
df2.head(10)

[Row(event_datatime='03/05/2019 08:06:14', server_=100, cpu_utilization=0.57, _c3=0.51, session_count=47),
 Row(event_datatime='03/05/2019 08:11:14', server_=100, cpu_utilization=0.47, _c3=0.62, session_count=43),
 Row(event_datatime='03/05/2019 08:16:14', server_=100, cpu_utilization=0.56, _c3=0.57, session_count=62),
 Row(event_datatime='03/05/2019 08:21:14', server_=100, cpu_utilization=0.57, _c3=0.56, session_count=50),
 Row(event_datatime='03/05/2019 08:26:14', server_=100, cpu_utilization=0.35, _c3=0.46, session_count=43),
 Row(event_datatime='03/05/2019 08:31:14', server_=100, cpu_utilization=0.41, _c3=0.58, session_count=48),
 Row(event_datatime='03/05/2019 08:36:14', server_=100, cpu_utilization=0.57, _c3=0.35, session_count=58),
 Row(event_datatime='03/05/2019 08:41:14', server_=100, cpu_utilization=0.41, _c3=0.4, session_count=58),
 Row(event_datatime='03/05/2019 08:46:14', server_=100, cpu_utilization=0.53, _c3=0.35, session_count=62),
 Row(event_datatime='03/05/2019 08:51:14', server_=100, cpu_utilization=0.51, _c3=0.6, session_count=45)]

In [20]:
df2.show()

+-------------------+-------+---------------+----+-------------+
|     event_datatime|server_|cpu_utilization| _c3|session_count|
+-------------------+-------+---------------+----+-------------+
|03/05/2019 08:06:14|    100|           0.57|0.51|           47|
|03/05/2019 08:11:14|    100|           0.47|0.62|           43|
|03/05/2019 08:16:14|    100|           0.56|0.57|           62|
|03/05/2019 08:21:14|    100|           0.57|0.56|           50|
|03/05/2019 08:26:14|    100|           0.35|0.46|           43|
|03/05/2019 08:31:14|    100|           0.41|0.58|           48|
|03/05/2019 08:36:14|    100|           0.57|0.35|           58|
|03/05/2019 08:41:14|    100|           0.41| 0.4|           58|
|03/05/2019 08:46:14|    100|           0.53|0.35|           62|
|03/05/2019 08:51:14|    100|           0.51| 0.6|           45|
|03/05/2019 08:56:14|    100|           0.32|0.37|           47|
|03/05/2019 09:01:14|    100|           0.62|0.59|           60|
|03/05/2019 09:06:14|    100|           0.66|0.72|           57|
|03/05/2019 09:11:14|    100|           0.54|0.54|           44|
|03/05/2019 09:16:14|    100|           0.29| 0.4|           47|
|03/05/2019 09:21:14|    100|           0.43|0.68|           66|
|03/05/2019 09:26:14|    100|           0.49|0.66|           65|
|03/05/2019 09:31:14|    100|           0.64|0.55|           66|
|03/05/2019 09:36:14|    100|           0.42| 0.6|           42|
|03/05/2019 09:41:14|    100|           0.55|0.59|           63|
+-------------------+-------+---------------+----+-------------+
only showing top 20 rows

In [21]:
df2.columns

['event_datatime', 'server_', 'cpu_utilization', '_c3', 'session_count']

In [22]:
df2_sample = df2.sample(False, fraction  = 0.1)

In [24]:
df2_sample.show()

+-------------------+-------+---------------+----+-------------+
|     event_datatime|server_|cpu_utilization| _c3|session_count|
+-------------------+-------+---------------+----+-------------+
|03/05/2019 08:06:14|    100|           0.57|0.51|           47|
|03/05/2019 10:26:14|    100|           0.56|0.69|           44|
|03/05/2019 10:36:14|    100|           0.62|0.36|           50|
|03/05/2019 11:51:14|    100|           0.52|0.68|           41|
|03/05/2019 12:11:14|    100|           0.27|0.65|           69|
|03/05/2019 13:16:14|    100|           0.55|0.69|           66|
|03/05/2019 13:21:14|    100|            0.4|0.55|           43|
|03/05/2019 13:26:14|    100|           0.52|0.57|           53|
|03/05/2019 13:51:14|    100|           0.41|0.59|           67|
|03/05/2019 15:11:14|    100|           0.58|0.54|           49|
|03/05/2019 16:01:14|    100|           0.39|0.34|           60|
|03/05/2019 16:41:14|    100|           0.56|0.59|           65|
|03/05/2019 16:51:14|    100|           0.66|0.35|           64|
|03/05/2019 17:21:14|    100|            0.4|0.41|           43|
|03/05/2019 17:56:14|    100|           0.33|0.71|           43|
|03/05/2019 18:31:14|    100|           0.28|0.72|           57|
|03/05/2019 18:46:14|    100|           0.53|0.52|           54|
|03/05/2019 19:41:14|    100|           0.49|0.37|           55|
|03/05/2019 20:51:14|    100|           0.49| 0.5|           38|
|03/05/2019 22:21:14|    100|           0.43|0.43|           40|
+-------------------+-------+---------------+----+-------------+
only showing top 20 rows

In [26]:
df2_sort = df2_sample.sort("event_datatime")

In [29]:
df2_sort.show()

+-------------------+-------+---------------+----+-------------+
|     event_datatime|server_|cpu_utilization| _c3|session_count|
+-------------------+-------+---------------+----+-------------+
|03/05/2019 08:06:14|    100|           0.57|0.51|           47|
|03/05/2019 08:06:23|    105|           0.54|0.38|           74|
|03/05/2019 08:07:19|    137|           0.89|0.31|           65|
|03/05/2019 08:07:31|    143|           0.41|0.45|           37|
|03/05/2019 08:11:40|    115|            0.6|0.52|           55|
|03/05/2019 08:11:54|    124|           0.33|0.75|           41|
|03/05/2019 08:11:56|    125|           0.63|0.34|           72|
|03/05/2019 08:12:03|    129|           0.74|0.62|           81|
|03/05/2019 08:12:09|    132|           0.62|0.63|           59|
|03/05/2019 08:12:28|    141|           0.41|0.63|           63|
|03/05/2019 08:17:01|    128|           0.42|0.44|           50|
|03/05/2019 08:17:25|    140|           0.48|0.36|           62|
|03/05/2019 08:17:35|    145|           0.88|0.22|           85|
|03/05/2019 08:21:29|    109|           0.74|0.52|           64|
|03/05/2019 08:21:40|    115|           0.51| 0.4|           66|
|03/05/2019 08:21:53|    123|           0.75|0.25|           95|
|03/05/2019 08:22:03|    129|           0.46|0.28|           58|
|03/05/2019 08:22:06|    130|           0.63| 0.5|           68|
|03/05/2019 08:22:41|    148|           0.74|0.11|           99|
|03/05/2019 08:26:36|    113|           0.63|0.31|           95|
+-------------------+-------+---------------+----+-------------+
only showing top 20 rows

In [33]:
df1.filter(df1["location_id"] == "loc0").show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 21:23:06|       loc0|          28|
+-------------------+-----------+------------+
only showing top 20 rows

In [34]:
df1.filter(df1["location_id"] == "loc0").count()

1000

In [35]:
df1.filter(df1["location_id"] == "loc1").count()

1000

In [36]:
df1.groupby("location_id").count().show()

+-----------+-----+
|location_id|count|
+-----------+-----+
|     loc196| 1000|
|     loc226| 1000|
|     loc463| 1000|
|     loc150| 1000|
|     loc292| 1000|
|     loc311| 1000|
|      loc22| 1000|
|     loc351| 1000|
|     loc370| 1000|
|     loc419| 1000|
|      loc31| 1000|
|     loc305| 1000|
|      loc82| 1000|
|      loc90| 1000|
|     loc118| 1000|
|     loc195| 1000|
|     loc208| 1000|
|      loc39| 1000|
|      loc75| 1000|
|     loc228| 1000|
+-----------+-----+
only showing top 20 rows

In [37]:
df1.orderBy("location_id").show()

+-------------------+-----------+------------+
|         event_date|location_id|temp_celcius|
+-------------------+-----------+------------+
|03/04/2019 21:23:06|       loc0|          28|
|03/04/2019 20:43:06|       loc0|          28|
|03/04/2019 21:18:06|       loc0|          33|
|03/04/2019 20:18:06|       loc0|          27|
|03/04/2019 20:38:06|       loc0|          32|
|03/04/2019 20:58:06|       loc0|          34|
|03/04/2019 21:13:06|       loc0|          28|
|03/04/2019 19:58:06|       loc0|          28|
|03/04/2019 20:13:06|       loc0|          27|
|03/04/2019 20:28:06|       loc0|          32|
|03/04/2019 20:33:06|       loc0|          35|
|03/04/2019 20:48:06|       loc0|          28|
|03/04/2019 20:53:06|       loc0|          32|
|03/04/2019 21:03:06|       loc0|          33|
|03/04/2019 21:08:06|       loc0|          27|
|03/04/2019 19:48:06|       loc0|          29|
|03/04/2019 19:53:06|       loc0|          27|
|03/04/2019 20:03:06|       loc0|          30|
|03/04/2019 20:08:06|       loc0|          27|
|03/04/2019 20:23:06|       loc0|          29|
+-------------------+-----------+------------+
only showing top 20 rows

In [39]:
df1.groupby("location_id").agg({'temp_celcius': "mean", "location_id": "count"}).show()

+-----------+-----------------+------------------+
|location_id|avg(temp_celcius)|count(location_id)|
+-----------+-----------------+------------------+
|     loc196|           29.225|              1000|
|     loc226|           25.306|              1000|
|     loc463|           23.317|              1000|
|     loc150|           32.188|              1000|
|     loc292|           29.159|              1000|
|     loc311|           24.308|              1000|
|      loc22|           28.251|              1000|
|     loc351|           28.194|              1000|
|     loc370|            29.14|              1000|
|     loc419|           29.141|              1000|
|      loc31|           25.196|              1000|
|     loc305|           27.314|              1000|
|      loc82|           27.355|              1000|
|      loc90|           23.216|              1000|
|     loc118|           24.219|              1000|
|     loc195|            27.25|              1000|
|     loc208|           26.206|              1000|
|      loc39|           25.199|              1000|
|      loc75|           23.209|              1000|
|     loc228|           27.295|              1000|
+-----------+-----------------+------------------+
only showing top 20 rows

In [40]:
df1.groupby("location_id").agg({'temp_celcius': "max", "location_id": "count"}).show()

+-----------+-----------------+------------------+
|location_id|max(temp_celcius)|count(location_id)|
+-----------+-----------------+------------------+
|     loc196|               36|              1000|
|     loc226|               32|              1000|
|     loc463|               30|              1000|
|     loc150|               39|              1000|
|     loc292|               36|              1000|
|     loc311|               31|              1000|
|      loc22|               35|              1000|
|     loc351|               35|              1000|
|     loc370|               36|              1000|
|     loc419|               36|              1000|
|     loc305|               34|              1000|
|      loc31|               32|              1000|
|     loc118|               31|              1000|
|     loc195|               34|              1000|
|     loc208|               33|              1000|
|      loc82|               34|              1000|
|      loc90|               30|              1000|
|     loc228|               34|              1000|
|      loc39|               32|              1000|
|      loc75|               30|              1000|
+-----------+-----------------+------------------+
only showing top 20 rows

In [41]:
df1.count()

500000

In [42]:
df1_s1 = df1.sample(fraction = 0.1, withReplacement = False)

In [44]:
df1_s1.count()

50107

In [45]:
df1_s1.groupBy("location_id").agg({"temp_celcius": "mean"}).show()

+-----------+------------------+
|location_id| avg(temp_celcius)|
+-----------+------------------+
|     loc196|29.186046511627907|
|     loc226|25.359550561797754|
|     loc463|23.419642857142858|
|     loc150|32.398058252427184|
|     loc292|          29.09375|
|     loc311|24.213483146067414|
|      loc22|28.475247524752476|
|     loc351| 28.10576923076923|
|     loc370|29.076923076923077|
|     loc419| 29.29032258064516|
|      loc31|25.547169811320753|
|     loc305|27.010526315789473|
|      loc82|27.327102803738317|
|      loc90|  22.8989898989899|
|     loc118|24.274509803921568|
|     loc195|              27.2|
|     loc208|25.705263157894738|
|      loc39|25.276190476190475|
|      loc75|23.604166666666668|
|     loc228|27.163265306122447|
+-----------+------------------+
only showing top 20 rows

In [46]:
df1_s1.groupBy("location_id").agg({"temp_celcius": "mean"}).orderBy("location_id").show()

+-----------+------------------+
|location_id| avg(temp_celcius)|
+-----------+------------------+
|       loc0| 29.19607843137255|
|       loc1| 27.97345132743363|
|      loc10| 25.71578947368421|
|     loc100|27.150537634408604|
|     loc101|25.388349514563107|
|     loc102| 30.65289256198347|
|     loc103|25.364485981308412|
|     loc104| 26.06741573033708|
|     loc105|26.260162601626018|
|     loc106|27.053763440860216|
|     loc107|33.287234042553195|
|     loc108| 32.02105263157895|
|     loc109|24.021052631578947|
|      loc11|25.305263157894736|
|     loc110|26.305882352941175|
|     loc111|31.568627450980394|
|     loc112|  33.4954128440367|
|     loc113| 30.15740740740741|
|     loc114|              29.0|
|     loc115|23.102040816326532|
+-----------+------------------+
only showing top 20 rows

In [47]:
df1.groupBy("location_id").agg({'temp_celcius': 'mean'}).orderBy('location_id').show()

+-----------+-----------------+
|location_id|avg(temp_celcius)|
+-----------+-----------------+
|       loc0|           29.176|
|       loc1|           28.246|
|      loc10|           25.337|
|     loc100|           27.297|
|     loc101|           25.317|
|     loc102|           30.327|
|     loc103|           25.341|
|     loc104|           26.204|
|     loc105|           26.217|
|     loc106|           27.201|
|     loc107|           33.268|
|     loc108|           32.195|
|     loc109|           24.138|
|      loc11|           25.308|
|     loc110|           26.239|
|     loc111|           31.391|
|     loc112|           33.359|
|     loc113|           30.345|
|     loc114|           29.261|
|     loc115|           23.239|
+-----------+-----------------+
only showing top 20 rows

In [48]:
df1.write.csv('df1.csv')

In [49]:
!dir df1.csv

 Volume in drive C is OS
 Volume Serial Number is A43E-EFE2

 Directory of C:\Users\lucas\Documents\lucastiagooliveira\Study Materials\Ex_Files_Spark_SQL_DataFrames\Exercise Files\CH 03\begin\df1.csv

08/01/2020  10:52 AM    <DIR>          .
08/01/2020  10:52 AM    <DIR>          ..
08/01/2020  10:52 AM            33,900 .part-00000-517ad3f3-ba83-4661-81a3-c9e2b96d5952-c000.csv.crc
08/01/2020  10:52 AM            33,872 .part-00001-517ad3f3-ba83-4661-81a3-c9e2b96d5952-c000.csv.crc
08/01/2020  10:52 AM            33,872 .part-00002-517ad3f3-ba83-4661-81a3-c9e2b96d5952-c000.csv.crc
08/01/2020  10:52 AM            18,636 .part-00003-517ad3f3-ba83-4661-81a3-c9e2b96d5952-c000.csv.crc
08/01/2020  10:52 AM                 8 ._SUCCESS.crc
08/01/2020  10:52 AM         4,337,756 part-00000-517ad3f3-ba83-4661-81a3-c9e2b96d5952-c000.csv
08/01/2020  10:52 AM         4,334,110 part-00001-517ad3f3-ba83-4661-81a3-c9e2b96d5952-c000.csv
08/01/2020  10:52 AM         4,334,110 part-00002-517ad3f3-ba83-4661-81a3-c9e2b96d5952-c000.csv
08/01/2020  10:52 AM         2,384,024 part-00003-517ad3f3-ba83-4661-81a3-c9e2b96d5952-c000.csv
08/01/2020  10:52 AM                 0 _SUCCESS
              10 File(s)     15,510,288 bytes
               2 Dir(s)  135,264,681,984 bytes free

In [54]:
!more df1.csv/part-00001-517ad3f3-ba83-4661-81a3-c9e2b96d5952-c000.csv

Invalid parameter - /part-00001-517ad3f3-ba83-4661-81a3-c9e2b96d5952-c000.csv

In [55]:
df1.write.json('df1.json')

In [56]:
!dir df1.json

 Volume in drive C is OS
 Volume Serial Number is A43E-EFE2

 Directory of C:\Users\lucas\Documents\lucastiagooliveira\Study Materials\Ex_Files_Spark_SQL_DataFrames\Exercise Files\CH 03\begin\df1.json

08/01/2020  10:55 AM    <DIR>          .
08/01/2020  10:55 AM    <DIR>          ..
08/01/2020  10:55 AM            88,824 .part-00000-078fee37-674a-4dac-9e8e-f0d8fb6fe1b6-c000.json.crc
08/01/2020  10:55 AM            87,392 .part-00001-078fee37-674a-4dac-9e8e-f0d8fb6fe1b6-c000.json.crc
08/01/2020  10:55 AM            87,392 .part-00002-078fee37-674a-4dac-9e8e-f0d8fb6fe1b6-c000.json.crc
08/01/2020  10:55 AM            48,076 .part-00003-078fee37-674a-4dac-9e8e-f0d8fb6fe1b6-c000.json.crc
08/01/2020  10:55 AM                 8 ._SUCCESS.crc
08/01/2020  10:55 AM        11,368,080 part-00000-078fee37-674a-4dac-9e8e-f0d8fb6fe1b6-c000.json
08/01/2020  10:55 AM        11,184,800 part-00001-078fee37-674a-4dac-9e8e-f0d8fb6fe1b6-c000.json
08/01/2020  10:55 AM        11,184,800 part-00002-078fee37-674a-4dac-9e8e-f0d8fb6fe1b6-c000.json
08/01/2020  10:55 AM         6,152,320 part-00003-078fee37-674a-4dac-9e8e-f0d8fb6fe1b6-c000.json
08/01/2020  10:55 AM                 0 _SUCCESS
              10 File(s)     40,201,692 bytes
               2 Dir(s)  135,221,051,392 bytes free